<div class="landing-container" id='landing'>
	<div class="welcome">

		<body>
			<div class="intro">
				Checking your vision has <br> never been this easy
			</div>
			<a href="#/test">
				<div class="button">
				Get Started &#9662
				</div>
			</a>
		</body>	
	</div>
	<div id="why"class="why-section">
		<div class="why-container">
			<div class="why-question">
				<h1>So, why check your vision?</h1>
			</div>
			<div class="why-content">
	
	Vision checking is a diagnostic test to reveal how well you are seeing. Aside from factors relating to overall convenience and quality of life, the reasons to check your vision routinely are numerous. A change in vision can reveal not only complications in the eye, but also elsewhere in the body. Additionally, visual acuity can change at an undetectable rate. Individuals may not even be aware of their poor vision, let alone any potential for improvement.

	Hopefully with the help of Iris you will be able to empirically test and track your vision over time. Follow the direction below to get started.

			</div>
		</div>
	</div>
	<div id='directions' class='directions-section'>
		<div class="directions-container">
			<ol>
				<li><div class="directions-content">shit</div></li>
				<li><div class="directions-content">shit1</div></li>
				<li><div class="directions-content">shit2</div></li>
				<li><div class="directions-content">shit3</div></li>
			</ol>
		</div>
	</div>



</div>