<div class="landing-container">
	<div class="welcome">
		<div class="main-header">
			<nav>
				<div class="logo">
					<div class="title">
						Iris
					</div>
				
					<div class="options">
						<ul>
							<li class="navigation">
								<div class="navigation dropdown">
									<a href="#">Vision Checking &#8616</a>
									<div class="dd-content">
										<a href="">Why</a>
										<a href="">Directions</a>
										<a href="">Vision Test</a>
									</div>
								</div>
							</li>
							<li class="loginlogout">
								<div class="loginlogout dropdown">
									<a href="#">User's Name &#8616</a>
									<div class="dd-content">
									 	<a href="#">Results</a>
										<a href="#">Login</a>
										<a href="#">Logout</a>
										<a href="#">Register</a>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
		<div class="welcome-body">
			<body>
				<div class="intro">
					Checking your vision has <br> never been this easy
				</div>
				<a href="#/">
					<div class="button">
					Get Started &#9662
					</div>
				</a>
			</body>	
		</div>
		<div class="why">
			because
		</div>
	</div>


</div>